<header>
  <div class="container">
    <div class="sixteen columns">
      <!-- Logo -->
      <div id="logo">
        <h1>
          <a href="index.html"
            ><img src="assets/images/logo14.jpg" alt="hhh" 
          /></a>
        </h1>
      </div>

      <!-- Menu-->
      <nav id="navigation" class="menu">
        <ul class="float-right">
          <li>
            <a href="Myaccount#tab2"><i class="fa fa-user"></i> Registrer</a>
          </li>
          <li>
            <a href="Myaccount#tab1"><i class="fa fa-lock"></i> Connecter</a>
          </li>
        </ul>
      </nav>
      
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"
          ><i class="fa fa-reorder"></i> Menu</a
        >
      </div>
    </div>
  </div>
</header>
