<app-navbar1></app-navbar1>>
<div id="titlebar" class="resume">
  <div class="container">
    <div class="ten columns">
      <div class="resume-titlebar">
        <img src="images/resumes-list-avatar-01.png" alt="" />
        <div class="resumes-list-content">
          <h4>John Doe <span>UX/UI Graphic Designer</span></h4>
          <span class="icons"
            ><i class="fa fa-map-marker"></i> Mountain View, CA</span
          >
          <span class="icons"><i class="fa fa-money"></i> $100 / hour</span>
          <span class="icons"
            ><a href="#"><i class="fa fa-link"></i> Website</a></span
          >
          <span class="icons"
            ><a href="mailto:john.doe@example.com"
              ><i class="fa fa-envelope"></i> john.doe@example.com</a
            ></span
          >
        </div>
      </div>
    </div>

    <div class="six columns">
      <div class="two-buttons">
        <a href="#small-dialog" class="popup-with-zoom-anim button"
          ><i class="fa fa-envelope"></i> Send Message</a
        >

        <div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
          <div class="small-dialog-headline">
            <h2>Send Message to John Doe</h2>
          </div>

          <div class="small-dialog-content">
            <form action="#" method="get">
              <input type="text" placeholder="Full Name" value="" />
              <input type="text" placeholder="Email Address" value="" />
              <textarea placeholder="Message"></textarea>

              <button class="send">Send Application</button>
            </form>
          </div>
        </div>
        <a href="#" class="button dark"
          ><i class="fa fa-star"></i> Bookmark This Resume</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Content
================================================== -->
<div class="container">
  <!-- Recent Jobs -->
  <div class="eight columns">
    <div class="padding-right">
      <h3 class="margin-bottom-15" style="color: black">
        <p style="font-size: 22px; color: #333">About Me</p>
      </h3>

      <p class="margin-reset">
        The Food Service Specialist ensures outstanding customer service is
        provided to food customers and that all food offerings meet the required
        stock levels and presentation standards. Beginning your career as a Food
        Steward will give you a strong foundation in Speedway’s food segment
        that can make you a vital member of the front line team!
      </p>

      <br />

      <p>
        The <strong>Food Service Specialist</strong> will have responsibilities
        that include:
      </p>

      <ul class="list-1">
        <li>
          <p>
            Excellent customer service skills, communication skills, and a
            happy, smiling attitude are essential.
          </p>
        </li>
        <li>
          <p>
            Must be available to work required shifts including weekends,
            evenings and holidays.
          </p>
        </li>
        <li>
          <p>
            Must be able to perform repeated bending, standing and reaching.
          </p>
        </li>
        <li><p>Must be able to occasionally lift up to 50 pounds</p></li>
      </ul>

      <a
        data-toggle="collapse"
        href="#Collapse0"
        aria-expanded="false"
        aria-controls="Collapse0"
      >
        <h3 class="margin-bottom-15">Formation ﹀</h3>
      </a>
      <div class="collapse" id="Collapse0">
        <div class="card card-body">
          <h4><p style="font-size: x-large">bac+3</p></h4>
          <p>type: universitee</p>
          <h4><p style="font-size: x-large">bac+5</p></h4>
          <p>type: ecole d'ingenieur</p>
        </div>
      </div>

      <a
        data-toggle="collapse"
        href="#Collapse1"
        aria-expanded="false"
        aria-controls="Collapse1"
      >
        <h3 class="margin-bottom-15">Langues ﹀</h3>
      </a>
      <div class="collapse" id="Collapse1">
        <div class="card card-body">
          <h4><p style="font-size: x-large">Francais</p></h4>
          <p>niveau: moyen</p>
          <h4><p style="font-size: x-large">Englais</p></h4>
          <p>niveau: courant</p>
          <h4><p style="font-size: x-large">Arabe</p></h4>
          <p>niveau: courant</p>
          <h4><p style="font-size: x-large">Espanol</p></h4>
          <p>niveau: debutant</p>
        </div>
      </div>

      <a
        data-toggle="collapse"
        href="#Collapse2"
        aria-expanded="false"
        aria-controls="Collapse2"
      >
        <h3 class="margin-bottom-15">Poste recherché ﹀</h3>
      </a>
      <div class="collapse" id="Collapse2">
        <div class="card card-body">
          <h4>
            <p style="font-size: x-large; color: #506172">
              titre de poste recherché
            </p>
          </h4>
          <p>Directeur du développement</p>
          <p>chef d'equipe</p>
          <h4><p style="font-size: x-large">categorie</p></h4>
          <p>informatique , developpement</p>
          <h4><p style="font-size: x-large">type de contrat</p></h4>
          <p>cdd</p>
          <h4><p style="font-size: x-large">localisation</p></h4>
          <p>france</p>
          <h4><p style="font-size: x-large">salaire par an</p></h4>
          <p>entre 30 000 et 35 000 euros</p>
        </div>
      </div>

      <a
        data-toggle="collapse"
        href="#Collapse3"
        aria-expanded="false"
        aria-controls="Collapse3"
      >
        <h3 class="margin-bottom-15">Informations personnelles ﹀</h3>
      </a>
      <div class="collapse" id="Collapse3">
        <div class="card card-body">
          <h4><p style="font-size: x-large; color: #506172">sexe</p></h4>
          <p>male</p>
          <h4><p style="font-size: x-large; color: #506172">nom</p></h4>
          <p>informatique , developpement</p>
          <h4><p style="font-size: x-large; color: #506172">prenom</p></h4>
          <p>cdd</p>
          <h4><p style="font-size: x-large; color: #506172">adresse</p></h4>
          <p>france</p>
          <h4><p style="font-size: x-large; color: #506172">code postal</p></h4>
          <p>entre 30 000 et 35 000 euros</p>
          <h4><p style="font-size: x-large; color: #506172">ville</p></h4>
          <p>france : marseille</p>
          <h4>
            <p style="font-size: x-large; color: #506172">date de naissance</p>
          </h4>
          <p>12/02/1990</p>
          <h4>
            <p style="font-size: x-large; color: #506172">
              nombre d'annee d'experience
            </p>
          </h4>
          <p>10 ans</p>
          <h4><p style="font-size: x-large; color: #506172"></p></h4>
          <p>employe</p>
          <h4><p style="font-size: x-large; color: #506172">activiter</p></h4>
          <p>sans emploi</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Widgets -->
  <div class="eight columns">
    <h3 class="margin-bottom-20" style="color: black">
      <p style="font-size: 22px; color: #333">Expériences</p>
    </h3>

    <!-- Resume Table -->
    <dl class="resume-table">
      <dt>
        <p><small class="date">2012 - 2015</small></p>
        <strong>Bsc Computing at College of West Anglia</strong>
      </dt>
      <dd>
        <p>
          Captain, why are we out here chasing comets? Maybe we better talk out
          here; the observation lounge has turned into a swamp. Ensign Babyface!
        </p>
      </dd>

      <dt>
        <p><small class="date">2006 - 2010</small></p>
        <strong>GCSE something at King Edward 7th</strong>
      </dt>
      <dd>
        <p>
          Captain, why are we out here chasing comets? Maybe we better talk out
          here; the observation lounge has turned into a swamp. Ensign Babyface!
        </p>
      </dd>

      <dt>
        <p><small class="date">2004 - 2006</small></p>
        <strong>Test 2 at Test</strong>
      </dt>
      <dd>
        <p>
          Phasellus vestibulum metus orci, ut facilisis dolor interdum eget.
          Pellentesque magna sem, hendrerit nec elit sit amet, ornare efficitur
          est.
        </p>
      </dd>
    </dl>
  </div>
</div>
