<header>
  <div class="container">
    <div class="sixteen columns">
      <!-- Logo -->
      <div id="logo">
        <h1>
          <a href="index.html"
            ><img src="assets/images/logo.png" alt="work scout"
          /></a>
        </h1>
      </div>

      <!-- Menu -->
      <nav id="navigation" class="menu">
        <ul id="responsive">
          <li><a href="home">Home</a></li>

          <li><a href="offreemploie">Offres D'emploi</a></li>
          <li><a href="conseilcarriere">Conseil Carrière</a></li>
          <li><a href="contactus">Contacter Nous</a></li>

          <li>
            <a href="#" class="btn head-btn2"
              ><i class="fa-solid fa-heart"></i
              ><span class="sr-only">Postes</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn head-btn2"
              ><i class="fa-solid fa-bell"></i
              ><span class="sr-only">notification</span>
            </a>
          </li>

          <li>
            <a href="profil" class="btn head-btn2"
              ><i class="fa-solid fa-user"></i
              ><span class="sr-only">Profil</span>
            </a>
          </li>
          <li>
            <a href="#" class="btn head-btn2"
              ><i class="fa-solid fa-arrow-right-from-bracket"></i
              ><span class="sr-only">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"
          ><i class="fa fa-reorder"></i> Menu</a
        >
      </div>
    </div>
  </div>
</header>
