<nav class="navbar navbar-expand-sm navbar-light">
  <ul class="navbar nav">
    <a class="nav-item nav-link" routerLink="/profil">
      <i class="fa-solid fa-note-sticky"></i> <strong> CV</strong></a
    >
    <a class="nav-item nav-link" routerLink="/mesoffres"
      ><i class="fa-solid fa-heart"></i> <strong>Favoris</strong></a
    >
    <a class="nav-item nav-link" routerLink="/Dashbord"
      ><i class="fa-solid fa-business-time"></i><strong>Dashbord</strong></a
    >
    <a class="nav-item nav-link" routerLink="/compte">
      <i class="fa-solid fa-user-large"></i><strong>Mon Compte</strong></a
    >
  </ul>
</nav>
