<router-outlet></router-outlet>
<app-navbar3></app-navbar3>
<head>
  <link rel="stylesheet" href="/assets/assets1/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/assets/assets1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/assets1/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/assets1/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/assets/assets1/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/assets1/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/assets1/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/assets/assets1/css/style.css"></head>
    
<!--<div id="banner" style="background: url(images/banner-home-01.jpg)">
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
         Form 
        <h2>Chercher un travail</h2>
        <input
          type="text"
          class="ico-01"
          placeholder="Titre de travail"
          value=""
        />
        <input type="text" class="ico-02" placeholder="gouvernement" value="" />
        <button><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>-->


  
<div class="ftco-blocks-cover-1">
  <div class="site-section-cover overlay" style="background-image: url('/assets/images/travel2.jpg')">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5" data-aos="fade-right">
          <h1 class="mb-3 text-white">Best way to manage your business travels</h1>
          <p>Welcome to our business travel website</p>
          <p class="d-flex align-items-center">
            <a href="https://vimeo.com/191947042" data-fancybox class="play-btn-39282 mr-3"><span class="icon-play"></span></a> 
            <span class="small">Watch the video</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="heading-39101 mb-5">
          <span class="backdrop">Our Aim</span>
          <span class="subtitle-39191">Discover Objectif</span>
          <h3>Our Goal</h3>
        </div>
        <p>seeing the huge development in the business world we have decided to
           build an easier one by creating a web application which help companies 
           to find partners who shares with them the same point of interests by an innovative way</p>
      </div>
      <div class="col-md-6" data-aos="fade-right">
        <img src="/assets/images/traveler.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<div class="site-section bg-image overlay" style="background-image: url('images/travel1.jpg')">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-md-7 text-center">
        <h2 class="font-weight-bold text-white">Join us</h2>
        <p class="mb-0"><a href="#" class="btn btn-primary text-white py-3 px-4">register as an Entreprise</a></p>
        
        <p>

        </p>
        <p class="mb-0"><a href="#" class="btn btn-primary text-white py-3 px-4">register as an Employee</a></p>
      </div>
      
    </div>
  </div>
</div>

