<router-outlet></router-outlet>
<div class="margin-top-60"></div>

<div id="footer">
  <!-- Main -->
  <div class="container">
    <div class="seven columns">
      <h4>About</h4>
      <p>
        seeing the huge development in the business world we have decided to
           build an easier one by creating a web application which help companies 
           to find partners who shares with them the same point of interests by an innovative way
      </p>
      <a href="#" class="button">Get Started</a>
    </div>

    <div class="three columns">
      <h4>Company</h4>
      <ul class="footer-links">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Our Blog</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Hiring Hub</a></li>
      </ul>
    </div>

    <div class="three columns">
      <h4>Press</h4>
      <ul class="footer-links">
        <li><a href="#">In the News</a></li>
        <li><a href="#">Press Releases</a></li>
        <li><a href="#">Awards</a></li>
        <li><a href="#">Testimonials</a></li>
        <li><a href="#">Timeline</a></li>
      </ul>
    </div>

    <div class="three columns">
      <h4>Browse</h4>
      <ul class="footer-links">
        <li><a href="#">Find Jobs</a></li>
      </ul>
    </div>
  </div>

  <!-- Bottom -->
  <div class="container">
    <div class="footer-bottom">
      <div class="sixteen columns">
        <h4>Follow Us</h4>
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="icon-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="icon-twitter"></i></a>
          </li>
          <li>
            <a class="gplus" href="#"><i class="icon-gplus"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="icon-linkedin"></i></a>
          </li>
        </ul>
        <div class="copyrights">
          © Copyright 2022 by <a href="#">seekers</a>. All Rights Reserved.
        </div>
      </div>
    </div>
  </div>
</div>
