<app-navbar1></app-navbar1>
<div id="banner" style="background: url(assets/images/banner-home-01.jpg)">
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <!-- Form -->
        <h2>Chercher un travail</h2>
        <input
          type="text"
          class="ico-01"
          placeholder="Titre de travail"
          value=""
        />
        <input type="text" class="ico-02" placeholder="gouvernement" value="" />
        <button><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <!-- Recent Jobs -->
  <div class="eleven columns">
    <div class="padding-right">
      <h3 class="margin-bottom-25">Recent Jobs</h3>
      <ul class="job-list">
        <li class="highlighted">
          <a href="profilstaticjob" id="profiljob">
            <img src="assets/images/job-list-logo-01.png" alt="" />

            <div class="job-list-content">
              <h4>
                Marketing Coordinator-SEO
                <span class="full-time">Full-Time</span>
                <div class="social">
                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      padding: left 1px;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="far fa-thumbs-up"
                      aria-hidden="true"
                    >
                      <span
                        style="color: black; background-color: white"
                        class="badge badge-light"
                        >4</span
                      >
                    </i>
                  </button>

                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      width: 10%;
                      height: min-content;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="fa-solid fa-comment"
                    ></i>
                  </button>
                </div>
              </h4>

              <div class="job-icons">
                <span><i class="fa fa-briefcase"></i> King</span>
                <span><i class="fa fa-map-marker"></i> Sydney</span>
                <span><i class="fa fa-money"></i> $100 / hour</span>
              </div>
            </div>
          </a>
        </li>

        <li>
          <a href="job-page.html">
            <img src="assets/images/job-list-logo-02.png" alt="" />
            <div class="job-list-content">
              <h4>
                Core PHP Developer for Site Maintenance
                <span class="part-time">Part-Time</span>
                <div class="social">
                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      padding: left 1px;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="far fa-thumbs-up"
                      aria-hidden="true"
                    >
                      <span
                        style="color: black; background-color: white"
                        class="badge badge-light"
                        >4</span
                      >
                    </i>
                  </button>

                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      width: 10%;
                      height: min-content;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="fa-solid fa-comment"
                    ></i>
                  </button>
                </div>
              </h4>
              <div class="job-icons">
                <span><i class="fa fa-briefcase"></i> Cubico</span>
                <span><i class="fa fa-map-marker"></i> London</span>
                <span><i class="fa fa-money"></i> $50 / hour</span>
              </div>
            </div>
          </a>
          <div class="clearfix"></div>
        </li>

        <li>
          <a href="job-page.html">
            <img src="assets/images/job-list-logo-03.png" alt="" />
            <div class="job-list-content">
              <h4>
                Restaurant Team Member - Crew
                <span class="full-time">Full-Time</span>
                <div class="social">
                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      padding: left 1px;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="far fa-thumbs-up"
                      aria-hidden="true"
                    >
                      <span
                        style="color: black; background-color: white"
                        class="badge badge-light"
                        >4</span
                      >
                    </i>
                  </button>

                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      width: 10%;
                      height: min-content;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="fa-solid fa-comment"
                    ></i>
                  </button>
                </div>
              </h4>
              <div class="job-icons">
                <span><i class="fa fa-briefcase"></i> King</span>
                <span><i class="fa fa-map-marker"></i> Sydney</span>
                <span><i class="fa fa-money"></i> $15 / hour</span>
              </div>
            </div>
          </a>
          <div class="clearfix"></div>
        </li>

        <li>
          <a href="job-page.html">
            <img src="assets/images/job-list-logo-04.png" alt="" />
            <div class="job-list-content">
              <h4>
                Power Systems User Experience Designer
                <span class="internship">Internship</span>
                <div class="social">
                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      padding: left 1px;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="far fa-thumbs-up"
                      aria-hidden="true"
                    >
                      <span
                        style="color: black; background-color: white"
                        class="badge badge-light"
                        >4</span
                      >
                    </i>
                  </button>

                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      width: 10%;
                      height: min-content;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="fa-solid fa-comment"
                    ></i>
                  </button>
                </div>
              </h4>
              <div class="job-icons">
                <span><i class="fa fa-briefcase"></i> Hexagon</span>
                <span><i class="fa fa-map-marker"></i> London</span>
                <span><i class="fa fa-money"></i> $75 / hour</span>
              </div>
            </div>
          </a>
          <div class="clearfix"></div>
        </li>

        <li>
          <a href="profilstaticjob">
            <img src="assets/images/job-list-logo-05.png" alt="" />
            <div class="job-list-content">
              <h4>
                iPhone / Android Music App Development
                <span class="temporary">Temporary</span>
                <div class="social">
                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      padding: left 1px;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="far fa-thumbs-up"
                      aria-hidden="true"
                    >
                      <span
                        style="color: black; background-color: white"
                        class="badge badge-light"
                        >4</span
                      >
                    </i>
                  </button>

                  <button
                    style="
                      background-color: rgb(255, 255, 255);

                      width: 10%;
                      height: min-content;
                    "
                    type="button"
                  >
                    <i
                      style="color: greenyellow"
                      class="fa-solid fa-comment"
                    ></i>
                  </button>
                </div>
              </h4>
              <div class="job-icons">
                <span><i class="fa fa-briefcase"></i> Mates</span>
                <span><i class="fa fa-map-marker"></i> New York</span>
                <span><i class="fa fa-money"></i> $115 / hour</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>

      <div class="pagination-container">
        <div class="pagination-container">
          <nav class="pagination-next-prev">
            <ul>
              <li><a href="#" class="prev">Previous</a></li>
              <li><a href="#" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="margin-bottom-55"></div>
    </div>
  </div>
</div>
